<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="col-md-4 mt-4 offset-md-4" style="color: blueviolet;"> Update Doctor's Record.</h2>
    <div class="card col-md-4 mt-4 offset-md-4 card card-body">
        
        <form [formGroup]="regForm">
            
            <div class="form-group">
                <label for="doc_id" style="color: black; font-weight: bold;">Doctor ID</label>
                <input type="number" class="form-control" id="doc_id" name="doc_id" formControlName="doc_id" value="{{id.id}}"  disabled>
                <!-- <div style="color:red;" *ngIf="regForm.get('pname').value.length<4">Enter atleast 4 characters </div>
                <div style="color:red;" *ngIf="regForm.get('pname').value<1">product name cannot be empty</div> -->
            </div>
            <div class="form-group">
                <label for="doc_name" style="color: black; font-weight: bold;">Doctor Name</label>
                <input type="text" class="form-control" id="doc_name" name="doc_name" formControlName="doc_name" value="{{doctors.doc_name}}">
                <!-- <div style="color:red;" *ngIf="regForm.get('pname').value.length<4">Enter atleast 4 characters </div>
                <div style="color:red;" *ngIf="regForm.get('pname').value<1">product name cannot be empty</div> -->
            </div>
    
            <div class="form-group">
                <label for="doc_mail" style="color: black; font-weight: bold;">Doctor Mail ID</label>
                <input type="text" class="form-control" id="doc_mail" name="doc_mail" formControlName="doc_mail" value="{{doctors.doc_mail}}">
                <!-- <div style="color:red;" *ngIf="regForm.get('pname').value.length<4">Enter atleast 4 characters </div>
                <div style="color:red;" *ngIf="regForm.get('pname').value<1">product name cannot be empty</div> -->
            </div>


            <div class="form-group">
                <label for="doc_password" style="color: black; font-weight: bold;">Change Password To </label>
                <input type="password" class="form-control" id="doc_password" name="doc_password" formControlName="doc_password">
                <!-- <div style="color:red;" *ngIf="regForm.get('url').value.length<4">Enter image URL </div>
                <div style="color:red;" *ngIf="regForm.get('url').value<1">Image URL cannot be empty</div> -->
            </div>

            <div class="form-group">
                <label for="doc_speciality" style="color: black; font-weight: bold;">Doctor's Speciality</label>
                <input type="text" class="form-control" id="doc_speciality" name="doc_speciality" formControlName="doc_speciality" value="{{doctors.doc_speciality}}">
                <!-- <div style="color:red;" *ngIf="regForm.get('price').value<1">Price cannot be empty</div> -->
            </div>

            <div class="form-group">
                <label for="doc_location" style="color: black; font-weight: bold;">Doctor's Location</label>
                <input type="text" class="form-control" id="doc_location" name="doc_location" formControlName="doc_location" value="{{doctors.doc_location}}">
                <!-- <div style="color:red;" *ngIf="regForm.get('price').value<1">Price cannot be empty</div> -->
            </div>
             <br>
            <button type="submit" class="btn btn-info float-right " name="submit"
                (click)="updateDataFromService(id.id,regForm.value)">Update Doctor</button> &nbsp;&nbsp;&nbsp;&nbsp;
           
        </form>
    </div> 
    <br><br><br>
</body>
</html>